<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    {Date}
    <address>
        Born to Blog
        No: 7, 
        Gall Road,
        Colombo
    </address>
    <h5>Dear Sir,</h5>
    <p>
        I hope this letter finds you well. I am writing to express my interest in contributing as a blog writer for  "Born to Blog" company. I am confident in my ability to provide engaging and informative content that aligns with your organization's goals.

        Allow me to introduce myself briefly. "{bio}" and "{email}", I have attached my Curriculum Vitae (CV) to this email. It outlines my educational background, professional experience, and relevant skills. I believe my experiences in writting make me a suitable candidate for contributing valuable content to your platform.

        Furthermore, I am confident that my unique perspective and fresh ideas can contribute to the success of "Born to Blog". I am excited about the prospect of collaborating with your team to create content that not only captivates your audience but also aligns seamlessly with your brand.

        I appreciate your time and consideration of my application. I am available at your earliest convenience for an interview to discuss how my skills and experiences can benefit "Born to Blog" Company. Please find my contact information in my attached CV.

        Thank you for considering my application. I am looking forward to the possibility of working with "Born to Blog" and contributing to the success of your blog.

        
    </p>
    <h5>Sincerely,</h5>
    <h5>{firstName} {lastName}</h5>
</body>
</html>