<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h5>Dear {firstName} {lastName}</h5>
    <div>
        <p>
            I hope this email finds you well. On behalf of the entire Born to Blog team, I am thrilled to welcome you aboard as our newest writer, and we are excited to have you contribute to our growing community of writers.

            As you embark on this journey with us, we want to ensure that your experience is as seamless and enjoyable as possible. To get started, please take a moment to review our guidelines and style preferences attached to this email. These guidelines will provide you with valuable insights into our editorial standards, formatting preferences, and other essential information.

            If you have any questions or need further clarification on any aspect of your role as a writer, please don't hesitate to reach out to our editorial team at hirushop123@gmail.com. We are here to support you every step of the way.You can use your email and given password in below to login.
            
            <h3>{email}</h3>
            <h3>{password}</h3>

            Once again, welcome to Born to Blog! We are confident that your contributions will enhance the diversity and quality of our content. Thank you for choosing to be a part of our community.

            Best regards,

            
        </p>
        <address>
            <ul style="list-style-type: none;">
                <li>Hirun Prabodhya</li>
                <li>Admin</li>
                <li>Born to Blog</li>
                <li>0332298310</li>
            </ul>
         
        </address>
    </div>
</body>
</html>